<nav>
  <div class="nav-wrapper blue">
    <!-- Diferença entre as chaves duplas e o ng-bind: 
        as chaves duplas são exibidas durante o carregamento da página 
      rapidamente, pois o script do AngularJS demora um pouco para carregar -->
    <div class="container">
      <a href="#" class="brand-logo">{{titulo}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
